.TestTable td {
	height: 7%;
}
table {
	border-collapse: collapse;
	margin: 0px;
	border: solid 0px black;
	padding: 0px;
	height: 99%;
}
img {
	border: medium none;
}
td.Entry { /* node */
	padding: 0px;
}
.Left {
	padding-right: 5px;
	border-left: solid 1px #c82;
}
td.Top {
	padding-right: 5px;
	border-top: solid 1px #c82;
}
.Bottom {
	padding-right: 5px;
	border-bottom: solid 1px #c82;
}
div.NodeDiv {
	border: solid 1px black;
}
.Blank {
	zborder: 1px #ae3 solid;
}
.LineCell {
	padding: 0px;
	margin: 0px;
}
.LineDiv {
	height: 50%;
}